@{
    ViewBag.Title = "About Page";
}

<div class="jumbotron" style="background-image:url(../favicon.ico); background-position:center;background-repeat:no-repeat;">
    <h1>Dipendra Manandhar</h1>
    <p class="lead">Hi! I'm Dipendra Manandhar and this is my testing portfolio for seo of dipendramanandhar.com.np </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Dipendra &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Dipendra Manandhar can give you a full service regarding the asp.net mvc c# web apps
        </p>
        <p><a class="btn btn-default" href="dipendramanandhar.com.np/#services">Dipendra manandhar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get to know more of Dipendra Manandhar</h2>
        <p>Dipendra Manandhar is a freelancer.</p>
        <p><a class="btn btn-default" href="dipendramanandhar.com.np">Learn more of Dipendra &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find Dipendra manandhar in his house :) </p>
        <p><a class="btn btn-default" href="dipendramanandhar.com.np/#services">manandhar &raquo;</a></p>
    </div>
</div>