@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Sakulan-3,bkt<br />
    <abbr title="Phone">P:</abbr>
    +977-9843645462
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Dipendra7manandhar7@gmail.com">Dipendra7manandhar7@gmail.com</a><br />
</address>